@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* :root {
  --primary: #60a5fa;
  --bg-dark: #071125;        
  --bg-light: #0e2647; 
} */

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --section: 210 40% 96%;
  --border: 214.3 31.8% 91.4%;
  --primary: 221.2 83.2% 53.3%;
  --muted-foreground: 215.4 16.3% 46.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --section: 222.2 84% 8.5%;
  --border: 217.2 32.6% 17.5%;
  --primary: 217.2 91.2% 59.8%;
  --muted-foreground: 215 20.2% 65.1%;
}


/* Blob animation */
@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    transform: translate(20px, -20px) scale(1.1);
  }
  66% {
    border-radius: 40% 50% 60% 30% / 40% 50% 60% 50%;
    transform: translate(-20px, 10px) scale(0.9);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite ease-in-out;
}

/* Blob sólido se movendo e mudando de forma */
@keyframes blobSolid {
  0% {
    border-radius: 60% 40% 35% 65% / 55% 60% 40% 45%;
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    border-radius: 40% 60% 65% 35% / 60% 40% 55% 45%;
    transform: translate(25px, -20px) scale(1.05);
  }
  66% {
    border-radius: 55% 45% 35% 65% / 45% 50% 60% 55%;
    transform: translate(-20px, 15px) scale(0.95);
  }
  100% {
    border-radius: 60% 40% 35% 65% / 55% 60% 40% 45%;
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob-solid {
  animation: blobSolid 8s ease-in-out infinite;
}

